.gradle
.idea
.intellijPlatform
build

# IntelliJ IDEA IDE workspace
*.iml

# Local Configuration
local.properties

# OS specific hidden files
.DS_Store
Thumbs.db

# JetBrains Plugin Signing Keys
private.pem
chain.crt